server:
  port: 8888
spring:
  security:
    user:
      password: root
      name: root
  application:
    name: service-server

eureka:
  instance:
    hostname: 192.168.1.58
    statusPageUrl: https://${eureka.instance.hostname}:${server.port}/info
    healthCheckUrl: https://${eureka.instance.hostname}:${server.port}/health
    homePageUrl: https://${eureka.instance.hostname}/
  client:
    healthcheck:
      enabled: false
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@192.168.1.58:${server.port}/eureka/
  server:
    waitTimeInMsWhenSyncEmpty: 0
