spring:
  application:
    name: admin-server
  security:
    user:
      name: admin
      password: admin
server:
  port: 8120
eureka:
  client:
    registryFetchIntervalSeconds: 5
    service-url:
      defaultZone: http://root:root@192.168.1.58:8888/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
    metadata-map:
      user.name: ${spring.security.user.name}
      user.password: ${spring.security.user.password}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS